body {
    background-image: url("codingwhite.jpg");
    background-size: cover;
    font-family: fira code, monospace;
    font-weight: bold;
    text-align: center;
    color: #1d3468;
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

#save-el {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #152b16
}